.button{
   background-color: rgb(199, 246, 199);
   padding: 10px;
   margin: 10px;
   color: black;
   border: none;
}
.Project{
   max-width: 50%;
   margin: auto;
   display: flex;
   flex-direction: column;
   padding-bottom: 100px;
}
@media (max-width:500px){
   .Project{
      max-width: 90%;
      margin: auto;
   }
}
.ProjectFlex{
   display:flex;
   flex-direction: column;
}
.ProjectFlex input{
   padding: 10px;
   margin: 10px;
}
.save{
   background-color: rgb(24,24,58);
   padding: 10px;
   margin: 10px;
   color: white;
   cursor: pointer;
}