.BasicInfo{
   display: flex;
   flex-direction: column;
   max-width: 50%;
   margin: auto;
}
@media (max-width:500px){
   .BasicInfo{
      max-width: 90%;
      margin: auto;
   }
}
.Inputs{
   display: flex;
   flex-direction: column;
}

.Inputs input{
   padding: 10px;
   margin: 10px;
   border: 2px solid grey;
}

.Inputs button{
   padding: 10px;
   margin: 10px;
   cursor: pointer;
   background-color: rgb(24, 24, 58);
   color: white;
   border: none;
}